<!DOCTYPE html>
<html>
<head>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

  <!-- copy to clipboard
  ------------------------------------------------- -->
  <script>
    function copy() {
      var copied_text = document.getElementById('out');
      copied_text.select();
      document.execCommand('copy')
    }
  </script>

  <!-- icons and links
  ------------------------------------------------ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Type like a retard</title>
</head>
<body>
  <div class = 'container'>

    <form action = '/' method="post">
      <div class= 'row' style="margin-top: 5%">
        <h4>Retartext</h4>
        <p>Have you ever felt like your text aren't annoying enough?<br>wll hre s Ur solution😀</p>
        <textarea class="u-full-width" type="text" name="msg", placeholder="Type what you like."></textarea>
        <button class="button-primary">Eliminate Intelligence</button>
      </div>
    </form>

    <div class= 'row' style="margin-top: 5%">
      <textarea class="u-full-width" type= 'text' name="output" id="out" placeholder="typ whT U lk😃" readonly>{{ retard_text}}</textarea>
      <button class="button-primary" onclick="copy()">Copy to clipboard</button>
    </div>
    <br>
    <div style="text-align: center">
      <a href="https://github.com/thatguyshzr" class="fa fa-github" style="font-size:18px; text-decoration: none; color: #1ba1ca">&nbsp;&nbsp;</a>
      <a href= "https://www.instagram.com/thatguyshzr/" class="fa fa-instagram" style="font-size:18px; text-decoration: none; color:#1ba1ca;"></a>
      <br>
      <a href="mailto:shzr&#64;protonmail.com?subject=Make%20a%20decision%20suggestion" style="color:black; font-size:10px">Got a suggestion? Click here.</a>
    </div>

  </div>
  
</body>
</html>